.data {
    layout: grid;
    grid-size: 2;
    border: solid $secondary;
    background: $secondary-background;
}

.title {
    text-style: bold;
    text-align: right;
    margin: 0 1 0 0;
}

#grid-data {
    height: 5;
}

#grid-data .title {
    width: 40;
}

#grid-concurrency {
    height: 5;
}

#grid-concurrency .title {
    width: 40;
}

#region-input {
    height: auto;
    color: $primary;
    background: $primary-background;
}

#region-input Input {
    width: 5fr;
}

#region-input Button {
    width: 1fr;
}

#region-info {
    height: 8;
}

#region-info .title {
    width: 15;
}

#map {
    overflow-x: auto;
}

/* gridinfo.css ends here */
