#region-input {
    height: auto;
    color: $primary;
    background: $primary-background;
}

#region-input Input {
    width: 5fr;
}

#region-input Button {
    width: 1fr;
}

#data {
    layout: grid;
    grid-size: 2;
    height: 8;
    border: solid $secondary;
    background: $secondary-background;
}

.title {
    width: 12;
    text-style: bold;
    text-align: right;
    margin: 0 1 0 0;
}

#map {

}

/* gridinfo.css ends here */
