#region-input {
    dock: top;
    height: auto;
    color: $primary;
    background: $primary-background;
}

#region-input Input {
    width: 5fr;
}

#region-input Button {
    width: 1fr;
}

#result {
    height: 100%;
    border: solid $secondary;
    background: $secondary-background;
}
