[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich-pixels = {extras = ["image"], version = "*"}
textual = "*"

[dev-packages]

[requires]
python_version = "3.10"
