[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich-pixels = {extras = ["image"], version = "*"}
textual = {version = "*", extras = ["dev"]}
httpx = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.11"
